{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="home-img" style="background-image: url('/images/nasa-Q1p7bh3SHj8-unsplash.jpg')">
        <h1>Portfolio Claire Daudignon</h1>
</div>
<div class="pres-content">
    <div class="presentation">
        <img src="images/Claire-DAUDIGNON.JPG" width="20%">
        <p>Passionnée par l'univers du web et des nouvelles technologies j'ai décidé de me réorienté afin de créer des applications mobiles afin d'améliorer le quotidien de tous.</p>
    </div>
</div>
{% endblock %}
