.title-admin {
  color:#ffbe00e6;
  text-align: center;
  padding-top: 5%;
  font-size: 4em;
}
.admin {
  display: flex;
  justify-content: space-around;
  .new-project {
    display: flex;
    flex-direction: column;
    background-color: #242323;
    color: white;
    width:40%;
    box-shadow: 0 0 20px #eee;
    margin-top: 5%;
    margin-bottom: 1%;


    button {
      color: #ffbe00e6;
      border-color: #ffbe00e6;
      background-color: #242323;
      width: 25%;
      margin-left: 35%;
      margin-bottom: 2em;
    }
    button:hover {
      color: white;
      border-color: #ffbe00e6;
      background-color: #ffbe00e6;
    }
    h2 {
      text-align: center;
      margin-bottom: 7%;
      margin-top: 2em;
      color: #ffbe00e6;
    }
    form {
      display: flex;
      flex-direction: column;
      #project {
        flex-direction: column;
        justify-content: center;
        margin-left: 30%;
        width: 40%;
      }
  }
}
  .new-language {
    display: flex;
    flex-direction: column;
    background-color: #242323;
    color: white;
    width:40%;
    box-shadow: 0 0 20px #eee;
    margin-top: 5%;
    margin-bottom: 1%;

  }
  .language {
    margin-top: 2em;
  }
  button {
    color: #ffbe00e6;
    border-color: #ffbe00e6;
    background-color: #242323;
    width: 30%;
    margin-left: 35%;
    margin-bottom: 2em;
  }
  button:hover {
    color: white;
    border-color: #ffbe00e6;
    background-color: #ffbe00e6;
  }
  h2 {
    text-align: center;
    margin-bottom: 7%;
    color: #ffbe00e6;
  }
  form {
    display: flex;
    flex-direction: column;
    #language {
      flex-direction: column;
      justify-content: center;
      margin-left: 30%;
      width: 40%;
    }
  }
  .all-project {
    a{
      color:#ffbe00e6;
    }
  }
  .all-language {
    a{
      color:#ffbe00e6;
    }
  }

}
