.home-img{
  height: 45em;
  background-size: 110em;
  display: flex;
  justify-content: center;
  overflow-y : hidden;
  color: white;
  h1 {
    font-size:6rem;
    padding-top: 2.5em;
  }
}
.pres-content{
  display: flex;
  justify-content: center;

  .presentation{
    background-color: #242323;
    width:70%;
    border-style: dotted;
    box-shadow: 0 0 20px #eee;
    margin-top: 5%;
    margin-bottom: 10%;
    display: flex;
      p{
        margin-top: 7%;
        padding-right: 1em;
        padding-left: 1em;
        color:white;
        flex-direction: row;

      }
  }
}

