.login {
  padding-bottom: 28%;
  color: white;
  display: flex;
  justify-content: center;
  h1{
    color:#ffbe00e6;
    text-align: center;
    padding-top: 5%;
    font-size: 4em;
  }
  form{
    width: 50%;
  }
  .login-formu{
    display: flex;
    flex-direction: column;
    background-color: #242323;
    color: white;
   box-shadow: 0 0 20px #eee;
    margin-top: 15%;
    margin-bottom: 1%;
    padding-top: 3%;
    padding-left: 5%;
    padding-right: 5%;


    button {
      color: #ffbe00e6;
      border-color: #ffbe00e6;
      background-color: #242323;
      width: auto;
      margin-left: 35%;
      margin-right: 35%;
      margin-bottom: 2em;
      margin-top: 3%;
    }
    button:hover {
      color: white;
      border-color: #ffbe00e6;
      background-color: #ffbe00e6;
    }

  }
}
