{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
    <div class="contact">
    <h1>Contactez-moi</h1>
    <section class="contact-bloc">
        <ul class="ul-contact">
            <li class="item-contact">
               Claire Daudignon
            </li>
            <li class="item-contact">
                1361, route de Garrigues 47200 Virazeil
            </li>
            <li class="item-contact">
                06.47.55.51.28
            </li>
            <li class="item-contact">
                clairedaudignon@gmail.com
            </li>
            <li class="item-contact">
                 <a href="https://github.com/Claire812" target="_blank">Github: https://github.com/Claire812</a>
            </li>
            <li class="item-contact">
                <a href="https://www.linkedin.com/in/claire-daudignon-8b88a4200/" target="_blank">Linkedin: https://www.linkedin.com/in/claire-daudignon-8b88a4200/</a>
            </li>
        </ul>
    </section>
    </div>

{% endblock %}
